.about {

    @include dt-layout;

    background-color: $about-background;
    font-family: 'Caviar Dreams', sans-serif;
    color: $about-text;
    padding: 100px 50px;
    min-height: 600px;

    &__header {
        text-align: center;
        font-size: 50px;
    }

    .tables-container {
        padding-left: 15%;
        padding-right: 15%;
    }

    &__table {
        display: flex;
        justify-content: space-between;

        .table__header {
            font-size: 30px
        }

        .table__text {
            min-width: 400px;
            max-width: 450px;

            .table__description {
                line-height: 24px;
            }
        }
    }

    &__team {
        display: flex;
        justify-content: space-between;

        .team__person {
            text-align: center;

            .person__img {
                border-radius: 50%;
            }

            .person__name {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .person__job {
                color: $about-disclaimer;
                font-size: 15px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .about {
        padding: $mb-basic-padding;
        height: auto;

        .tables-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__table {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .table__text {
                min-width: auto;
                max-width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .table__header {
                margin-top: 0;
            }
        }

        .tables-container {
            display: flex;
            flex-direction: column;
            max-width: 100vw;
            padding: 30px 20px;
        }

        

        &__team {
            flex-direction: column;

            .team__person {
                margin-bottom: 15px;
            }

            .team__person:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 365px) { 
    .table__img img {
        width: 350px;
    }
}