.credits {

    @include flex-column-center;

    padding: 40px;
    font-family: 'Caviar Dreams', sans-serif;
    background-color: $footer-background;
    color: #fff;

    &__text {
        margin: 10px;
    }
}