.contact {

    @include flex-column-center;

    min-height: 600px;
    padding: $dt-basic-padding;
    background-color: $quotation-background;
    font-family: 'Caviar Dreams', sans-serif;

    &__header {
        color: #fff;
        font-size: $dt-header;
        margin-bottom: 50px;
    }

    &__text {
        color: #fff;
        font-size: 16px;
        line-height: 25px;
    }

    &__form {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;


        input,
        select,
        textarea {
            color: $form-text;
        }

        .form__details,
        .form__message {
            width: 48%;
            display: inline-block;
        }

        .form__input {
            font-size: 20px;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            outline: none;
            margin: 5px 0;
            padding: 10px;
            font-family: 'Caviar Dreams', sans-serif;
            background-color: $input-background;

            input {

                color: $form-text;
            }

            &--message {
                height: 59%;
                border: none;
            }

            &--btn {
                width: 185px;
                background-color: $form-btn;
                color: #fff;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;

                &:hover {
                    background-color: $form-hover;
                }
            }
        }
    }

}


@media only screen and (max-width: 800px) {
    .contact {
        padding: $mb-basic-padding;

        &__header {
            margin-bottom: 30px;
        }

        &__form {
            flex-direction: column;
            margin-top: 35px;
        }

        .form__details,
        .form__message,
        .form__input--btn {
            width: 100%;
        }

        .form__details,
        .form__message {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .form__input {
            margin: 10px 5px;
            width: auto;
        }

        .form__input--message {
            min-height: 20vh;
        }
    }
}