.recommendation {
    background-image: url("../assets/bg/bg-3.jpg");
    padding: $dt-basic-padding;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__left {
        transform: translateX(-100vw);
        transition: 0.8s all;
    }

    &__text {
        
        @include quotation-text;
        
        font-family: 'Caviar Dreams', sans-serif;

        &::before {
            content: "“";
            opacity: 0.6;
            font-size: $dt-header;
        }
    }

    &__img {
        display: inline-block;
        margin-top: 50px;
        transform: translateX(100vw);
        transition: 0.8s all;
    }
}

@media only screen and (max-width: 800px) {
    .recommendation {
        height: calc(100vh - 72px);
        min-height: 500px;
        padding: $mb-basic-padding;
    }
}

@media only screen and (max-width: 375px) {
    .recommendation {
        &__text {
            font-size: 30px;
        }
    }
}