.services {
    background-color: $services-background;
    font-family: 'Caviar Dreams', sans-serif;
    color: $services-text;
    padding: 100px 50px;
    text-align: center;

    &__header {
        font-size: 50px;
        margin-bottom: 50px;
    }

    &__categories {
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        color: $services-secondary-text;

        .category__item {
            text-align: center;
            width: 220px;
            padding: 20px;
            transition: 0.8s all;

            .item__img {}

            .item__name {
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .item__description {
                font-size: 16px;
                line-height: 25px;
            }


            &:hover {
                background-color: $services-hover;
                animation-name: flash;
                animation-timing-function: linear;
                animation-direction: normal;
                animation-fill-mode: none;
                animation-duration: 0.8s;
                transition: all;

                .item__img {
                    animation-name: bounce;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: none;
                    animation-duration: 1s;
                    transition: all;
                }

                .item__name {

                    animation-name: move-up;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: none;
                    animation-duration: 0.4s;
                    transition: all;
                }
            }


            // &:hover .item__img {
            //     width: 200px;
            // }

            @keyframes bounce {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }

            @keyframes move-up {
                0% {
                    transform: translateY(20px);
                    opacity: 0.2;
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            @keyframes flash {
                0% {
                    background-color: #fff;                    ;
                }

                50% {
                    background-color: $services-hover;
                }
            }
        }
    }
}