.slider-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/bg/bg-1.jpg");
    height: calc(100vh);
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}

.slider {

    height: 50px;
    font-size: 50px;
    white-space: nowrap;
    margin: 20px 0;
    width: 100vw;
    overflow: hidden;
    font-family: 'Caviar Dreams', sans-serif;
    color: #fff;

    &__carousel {
        position: relative;

        .carousel__item {
            width: 100vw;
            text-align: center;
            height: 50px;
        }
    }

    &__move {
        transform: translateY(-50px);
        //transition: 1s;
    }


    &__logo {
        z-index: 1;
        width: 181px;
        height: 181px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .btn {
            width: 32px;
            cursor: pointer;
        }
    }
}