$quotation-background: #1bac91;
$about-background: #f2f2f2;
$about-text: #312f2b;
$about-disclaimer: #444444;
$services-background: #f36f36;
$services-text: #fcfcfc;
$services-hover: #f36518;
$services-secondary-text: #f7f7f7;