@font-face {
  font-family: 'Caviar Dreams', sans-serif;
  font-style: normal;
  src: url('/assets/fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Comfortaa Regular', sans-serif;
  font-style: normal;
  src: url('/assets/fonts/Comfortaa-Regular.ttf');
}
