@mixin dt-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  @mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @mixin quotation-text {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
  }